
$navbar-light-hover-color: #ae2012;
$navbar-light-active-color: #841106;
$borderColor :green;
// --------------------- card color 
$warning : rgba(191, 125, 12, 0.983);
$info : rgb(169, 22, 152);
$secondary : rgb(21, 141, 111);